.authForm {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authFormSubtitle {
    color: rgb(180,184,193);
}

.authFormForm {
    max-width: 360px;
    
}